<div class="container">
    <div class="row">
        <div class="middle">
            <div class="login-panel panel panel-default">

                <div class="panel-heading">
                    <h2 class="panel-title"><%= t("Sign up") %></h2>
                </div>

                <div class="panel-body">

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-user fa-fw"></i>
                            </span>
                            <%= f.text_field :firstname, autofocus: true, :required => true, class: "form-control", placeholder: t(:firstname) %>
                        </div>

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-user fa-fw"></i>
                            </span>
                            <%= f.text_field :lastname, :required => true, class: "form-control",  placeholder: t(:lastname)  %>
                        </div>

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope fa-fw"></i>
                            </span>
                            <%= f.email_field :email, autofocus: true, class: "form-control",  placeholder: t("email")  %>
                        </div>

                        
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-fw"></i>
                            </span>
                            <% if @minimum_password_length %>
                            <%= f.password_field :password, autocomplete: "off", class: "form-control",  placeholder: t(:minimum_password_length)  %>
                        <% else %>
                            <%= f.password_field :password, autocomplete: "off", class: "form-control",  placeholder: t(:minimum_password_length)  %>
                        <% end %>
                        </div>

                        

                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-fw"></i>
                            </span>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control",  placeholder: t(:password_confirmation)  %>
                        </div>

                        <div class="actions">
                            <%= f.submit t("Sign up"), class: "btn btn-lg btn-success btn-block"%>
                        </div>
                    <% end %>
                </div>
            </div>
        <%= render "devise/shared/links" %>
        </div>
    </div>
</div>