<html>
    <head>
        <meta charset="utf-8">
        <title><%= @container.name.capitalize %></title>
        <link href="<%= @assets_prefix %>assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="<%= @assets_prefix %>assets/css/template.css" rel="stylesheet">
        <link href="<%= @assets_prefix %>assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
        	<div id="sidebar-wrapper">
          		<div class="sidebar-nav">
                <div class="logo">
            			<a href="<% @org_link %>" target="_blank">
            				<img src="<%= @assets_prefix %>assets/img/iutenligne.png"  border="0">
            			</a>
                </div>


          			<ul class="nav-link">
          				<li>
					        <a class="btn btn-default" href="<%= @home_link %>">
					          	<i class="fa fa-home fa-fw" title="Home" aria-hidden="true"></i>
					          	<span class="sr-only">Home</span>
          					</a>
          				</li>
          				<li>
					        <a class="btn btn-default" href="#">
						        <i class="fa fa-facebook fa-fw" title="Facebook" aria-hidden="true"></i>
						        <span class="sr-only">Facebook</span>
					        </a>
					    </li>
					    <li>
					        <a class="btn btn-default" href="#">
					          	<i class="fa fa-pencil fa-fw" title="Mail" aria-hidden="true"></i>
					          	<span class="sr-only">Mail</span>
					        </a>
					    </li>
					    <li>
					        <a href="#menu-toggle" id="menu-toggle" class="btn btn-default">
						          <i class="fa fa-chevron-left fa-fw" title="Navigation" aria-hidden="true"></i>
						          <span class="sr-only">Navigation</span>
					        </a>
					    </li>
					</ul>



          <ul class="nav-menu">
          	<%= raw(@menu) %>
					</ul> 

          		</div>
          	</div>

          	<!-- icone bars-->  
          	<div id="icone-menu" class="none">
          		<a href="#menu-bars" id="menu-bars" class="btn btn-default">
         			<i class="fa fa-bars fa-fw" title="Menu" aria-hidden="true"></i>
          			<span class="sr-only">Menu</span> 
          		</a> 
          	</div>
          	<!-- / icone bars-->
         	<div id="page-content-wrapper">
          		<div class="container-fluid">
          			<!-- title container--> 
          			<h1 class="container-title"><%= @container.name.capitalize %></h1>
			        <!-- / title container -->
			        
			        <!-- content -->
          			<div class="row">
          				<div class="col-lg-12"> 
          					<h3>Index</h3>
                    <%= raw(@menu) %>
          				</div> 
          			</div>

                <div class="row btn">
                      <div class="col-lg-6 btn-after">

                      </div>
                      <div class="col-lg-6 btn-next">
                        <% if @next_link %>
                          <a  href="<%= @next_link %>">
                            Suite
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-chevron-right fa-stack-1x fa-inverse"></i> 
                            </span>
                          </a> 
                        <% end %>
                      </div>


					<!-- / content --> 

            	</div>
        	</div>
        </div>

      <script src="<%= @assets_prefix %>assets/js/jquery.js"></script>
		  <script src="<%= @assets_prefix %>assets/js/bootstrap.min.js"></script>	   
	    <script type="text/javascript">
            $(document).ready(function() {
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                    $("#icone-menu").removeClass('none').addClass('block');
                });
                $("#menu-bars").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                    $("#icone-menu").removeClass('block').addClass('none');
                });
            });
        </script>
	</body>
</html>