<html>
    <head>
        <meta charset="utf-8">
        <title><%= @container.name.capitalize %></title>
        <link href="<%= @assets_prefix %>assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="<%= @assets_prefix %>assets/css/template.css" rel="stylesheet">
        <link href="<%= @assets_prefix %>assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="wrapper">
        	<div id="sidebar-wrapper">
          		<div class="sidebar-nav">
                <div class="logo">
            			<a href="<%= @org_link %>" target="_blank">
            				<img src="<%= @assets_prefix %>assets/img/iutenligne.png"  border="0">
            			</a>
                </div>


          			<ul class="nav-link">
          				<li>
  					        <a class="btn btn-default" href="<%= @home_link %>">
  					          	<i class="fa fa-home fa-fw" title="Home" aria-hidden="true"></i>
  					          	<span class="sr-only">Home</span>
            					</a>
            				</li>
            				<li>
  					        <a class="btn btn-default" href="#">
  						        <i class="fa fa-facebook fa-fw" title="Facebook" aria-hidden="true"></i>
  						        <span class="sr-only">Facebook</span>
  					        </a>
  					     </li>
					       <li>
					        <a class="btn btn-default" href="#">
					          	<i class="fa fa-pencil fa-fw" title="Mail" aria-hidden="true"></i>
					          	<span class="sr-only">Mail</span>
					        </a>
					       </li>
					       <li>
					        <a href="#menu-toggle" id="menu-toggle" class="btn btn-default">
						          <i class="fa fa-chevron-left fa-fw" title="Navigation" aria-hidden="true"></i>
						          <span class="sr-only">Navigation</span>
					        </a>
					       </li>
					   </ul>

          			<ul class="nav-menu" id="nav-menu">
                  <%= raw(@menu) %>
					      </ul>
          		</div>
          	</div>

          	<!-- icone bars-->  
          	<div id="icone-menu" class="none">
          		<a href="#menu-bars" id="menu-bars" class="btn btn-default">
         			<i class="fa fa-bars fa-fw" title="Menu" aria-hidden="true"></i>
          			<span class="sr-only">Menu</span> 
          		</a> 
          	</div>
          	<!-- / icone bars-->

         	<div id="page-content-wrapper">
          		<div class="container-fluid">
          			<!-- title container--> 
          			<h1 class="container-title"><%= @container.name.capitalize %></h1>
			        <!-- / title container -->

			        <!-- title page -->
			        <h2 class="page-title"><%= @page.name.capitalize %></h2>
			        <!-- / title page --> 
			        

			        <!-- content -->
                    <% @blocks.each do |block| %>
              			<div class="row">
              				<div class="col-lg-12">
                                <h3><%= block.name.capitalize if block.name %></h3>
                                <div class="content">
                                    <!-- media blocks -->
                                    <% if block.type_id == 2 %>
                                        <%= raw(block.content) if block.content %>
                                    <!-- note blocks -->
                                    <% elsif block.type_id == 3 %>
                       					        <div class="block-<%= block.classes %> block">
                                            <div class="block-note-title block-note-title-<%= block.classes %>">
                                                <i class="fa note-icon-<%= block.classes %> fa-fw"}></i>
                                            </div>
                                            <%= raw(CGI.unescapeHTML(block.content)) if block.content %>
                                        </div>
                                    <% elsif block.type_id == 4 %>
                                        <%= raw("$$" + block.content + "$$") if block.content %>
                                    <% else %>
                                        <%= raw(CGI.unescapeHTML(block.content)) if block.content %>
                                    <% end %>
                                </div>
              				</div> 
              			</div>
                    <% end %>
                    <div class="row">
                      <div class="col-lg-12">
                        <% if @toc %>
                          <ul>
                            <% @toc.each do |toc| %>
                              <li>
                                <a href="<%= toc.id %>"><%= toc.name.capitalize %></a>
                              </li>
                            <% end %>
                          </ul>
                        <% end %>
                      </div>
                    </div>

                    <div class="row btn">
                      <div class="col-lg-6 btn-after">
                        <% if @prev_link && @prev_link != "" %>
                          <a href="<%= @prev_link %>">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-chevron-left fa-stack-1x fa-inverse"></i> 
                            </span>
                            Précédent<br>
                          </a>
                        <% end %>
                      </div>
                      <div class="col-lg-6 btn-next">
                        <% if @next_link && @next_link != "" %>
                          <a  href="<%= @next_link %>">
                            Suite
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-square fa-stack-2x"></i>
                              <i class="fa fa-chevron-right fa-stack-1x fa-inverse"></i> 
                            </span>
                          </a> 
                        <% end %>
                      </div>
                    </div>
					<!-- / content --> 

            	</div>
        	</div>
        </div>

      <script src="<%= @assets_prefix %>assets/js/jquery.js"></script>
		  <script src="<%= @assets_prefix %>assets/js/bootstrap.min.js"></script>
	    <script type="text/javascript">
            $(document).ready(function() {
                $("#menu-toggle").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                    $("#icone-menu").removeClass('none').addClass('block');
                });
                 
                $("#menu-bars").click(function(e) {
                    e.preventDefault();
                    $("#wrapper").toggleClass("toggled");
                    $("#icone-menu").removeClass('block').addClass('none');
                });

                var activePage = $('#nav-menu').find('.active');
                
                function findParentItem(el) {
                  if (($(el).parent().is('ul')) && (!$(el).parent().hasClass('nav-menu'))) {
                    $(el).parent().addClass('active-parent');
                    findParentItem($(el).parent());
                  }
                }

                findParentItem(activePage);

                function findChildren(el){
                  if ($(el).next().is("ul")){
                    $(el).next().show();
                  }
                }
                findChildren(activePage);

                var uls = $('#nav-menu').find('ul').each(function() {
                  console.log($(this));
                  if ( $(this).is(":visible") ) {
                    $(this).prev().addClass("moins");
                  } else {
                    $(this).prev().addClass("plus");;
                  }
                });
            });
      </script>

      <% if @mathjax == true %>
          <script type="text/x-mathjax-config">
              MathJax.Hub.Config({ 
                  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']] }
              });
          </script>
          <script type="text/javascript" src="<%= @libs_prefix %>mathjax/MathJax.js?config=TeX-AMS_HTML" data-no-turbolinks="true"></script>
          <script type="text/javascript" src="<%= @libs_prefix %>mathjax/extensions/MathMenu.js" data-no-turbolinks="true"></script>
          <script type="text/javascript" src="<%= @libs_prefix %>mathjax/extensions/MathZoom.js" data-no-turbolinks="true"></script>
      <% end %>

	</body>
</html>