<nav class="navbar">
	<div id="logo" data-no-turbolink>
		<h1><%= link_to(raw('<i class="fa fa-plane"></i>'), "/#/", data: { no_turbolink: true }) %></h1>
	</div>

	<div id="top-menu" class="header-collapse">
		<ul>
			<li><%= link_to raw('<i class="fa fa-folder-open fa-fw "></i>'), "/#containers/", data: { no_turbolink: true }, title: "Mes ressources" %></li>
			<li><%= link_to raw('<i class="fa fa-book fa-fw "></i>'), "/#glossaries/", data: { no_turbolink: true }, title: "Mes glossaires" %></li>
			<li><%= link_to raw('<i class="fa fa-user fa-fw "></i>'), '/#/' %></li>
			<li><%= link_to raw('<i class="fa fa-cogs fa-fw "></i>'), '/#/' %></li>
			<% if current_user.is_admin? %>
				<li><%= link_to raw('<i class="fa fa-power-off fa-fw "></i>'), '/#/company', title: "Admin équipe" %></li>
			<% end %>
			<li><%= link_to raw('<i class="fa fa-power-off fa-fw "></i>'), '/#/' %></li>
			<% if user_signed_in? %>
			<% end %>
		</ul>
	</div>
</nav>